body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: rgb(0, 120, 215);
    color: white;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {    
    max-width: 280px;    
}

input[type="text"], input[type="password"] {
    border: none;
    /*border-bottom: 1px solid white;*/
    border-radius: 0;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;    
}

.transparent {
    outline: none;
    color: white !important;
    background-color: transparent;    
}

input.form-control.transparent::-webkit-input-placeholder {
    color: white;
}

.formItem {
    margin-bottom: 0;
}

.button {
    margin-top: 0px;
    background: none !important;
    border: none;    
    font-weight: bold;
}

.center {
    max-width: 280px;
    margin: 0 auto;
}

hr {
    margin: 5px 0 20px 0;
}
